.svgBrand {
	height:45px;
	margin-top:-12px;
}
.navbar-brand{
	font-family: 'Montserrat';
}

.motivation{
	font-family: 'Montserrat';
	font-size: 74px;
	color:white;
	margin-top:100px;
}
.motivationBackground{
	background-image: url('../img/motivation.png');
	background-position: center;
	height:300px;
	margin-top:-20px;
	width:100%;
}

.mainContent{
	background:#ECF0F1;
	box-shadow: inset 0px 4px 3px 0px rgba(0,0,0,0.50);
}

.connection{
	
	margin-top:40px;
	font-family: HelveticaNeue;
	font-size: 30px;
	color: #2C3E50;
}

.animationCount{
	margin-top:15px;
	font-family: HelveticaNeue;
	font-size: 77px;
	color: #2980B9;
}
.svgLogo{
	margin-top:12px;
	height:140px;
	margin-left:40px;
}

.svgStep{
	height:80px;
}
.spacer{
	margin-top:70px;
}
.numeral{
font-family: HelveticaNeue;
font-size: 77px;
color: #354758;
}
.numeralDescription{
	font-family: HelveticaNeue;
	font-size: 27px;
	color: #354758;

}

.pageTitle{
font-family: Montserrat-Light;
font-size: 74px;
color: #2980B9;
}
.backgroundD{
	background-color:#ECF0F1;
	margin-top:-20px;
	height:100%;
}
.whiteBox{
	margin-top:10px;
	width:100%;
	height:150px;
	background-color:white;
}

.jobBox{
	margin-top:20px;
	margin-left:90px;
	
background: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.50);
}
.compareScore{

font-family: Montserrat-Light;
font-size: 74px;
color: #2980B9;
}

.compareTech{
font-family: Montserrat-Light;
font-size: 34px;
color: #354758;
}

.brandpic{
	margin-top:10px;
}

.logotop{
	margin-top:25px;
}
.btn-primaryB{
	background-color:#2980B9;
	color:white;
	margin-bottom:5px;
}